<tr>
  <td class = "location-name"><a href={{link}}>{{name}}</a></td>
  <td>{{author}}</td>
  <td class = "location-aproximate">{{city}}</td>
  <td class = "location-aproximate">{{state}}</td>
  <td>{{lat}}</td>
  <td>{{long}}</td>
</tr>
