<main class="location-info-page">

  <h1 class="location-title">{{name}}</h1>
  <iframe width="800" height="500" frameborder="0" style="border:1"
    src="https://www.google.com/maps/embed/v1/place
    ?key=AIzaSyAtA4hg6nxC3wLCY_t-k5Ia8p4N4qoBBEM
    &zoom=15
    &q=
    (44.609958,-123.335086)">
  </iframe>
</main>

<main class="comment-container">
  <article class="comment">
    <div class="comment-content">
      <p class="description-author">
        {{author}}
      </p>
      <p class="description-latitute">
        {{lat}}
      </p>
      <p class="description-longitute">
        {{long}}
      </p>
      <p class="description-text">
        {{description}}
      </p>
    </div>
  </article>

  <h2> Comment Section </h2>

  {{#each comments}}
    {{> commentItem}}
  {{/each}}
</main>

{{> newCommentModal}}
